* {
    box-sizing: border-box;
    /* https://fonts.google.com */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/21omxpw.jpg");
    background-attachment: fixed;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

html {
    scroll-behavior: smooth;
}

.relleno-section {
    padding-left: 3vw;
    padding-right: 3vw;
}

#header {
    text-align: left;
    width: 100%;
    height: 100px;
    background-color: black;
}

#header h1 {
    font-size: 50px;
}

.header {
    background: black;
    color: white;
    padding: 0.1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 10px 3px 3px white;
}

.logo {
    letter-spacing: 5px;
    font-size: 3vw;
    padding-left: 25px;
    font-weight: 900;
}

.header1 {
    width: 85%;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    font-size: 1.5vw;
    font-weight: bold;
}

.navigation ul li a:hover {
    background: red;
    color: black;
}


/*Menú*/

#portada {
    background-color: black;
    width: 100%;
    color: white;
    border-bottom: 3px solid white;
}

#portada i {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4vw;
    font-size: 6vw;
    color: red;
    margin-top: 0;
    padding-top: 0;
    transition: all 0.4s linear;
}

#portada a {
    text-decoration: none;
}

#portada img {
    border-radius: 40%;
    padding: 3vw;
    width: 45vw;
}

.column1 {
    width: 50%;
    float: left;
}

.column1 h1 {
    font-size: 5vw;
    text-align: right;
    letter-spacing: 5px;
    padding: 7vw 0;
    transition: all 0.4s linear;
}

#section1 {
    color: white;
    border-bottom: 3px solid;
}

#section2 {
    color: white;
    border-bottom: 3px solid;
}

#section3 {
    color: white;
    border-bottom: 3px solid;
}

#section4 {
    color: white;
    border-bottom: 3px solid;
}

.column2 {
    width: 50%;
    float: left;
    padding: 3vw;
}

.column2 img {
    width: 40vw;
    float: left;
    padding: 3vw;
}

.column2 h2 {
    font-size: 4vw;
    color: red;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.column2 i {
    font-size: 2vw;
    color: red;
}

.column2 iframe {
    width: 43vw;
    height: 32vw;
    padding-top: 4vw;
}

.column2 h3 {
    font-size: 1.5vw;
    color: white;
}

.social {
    font-size: 3vw;
}

.social i {
    font-size: 4vw;
    padding: 1.5vw;
}

.social i:hover {
    background-color: white;
    border-radius: 20%;
    transition: all 0.2s linear;
}

.column3 {
    box-shadow: 10px 3px 3px white;
}

.column4 {
    float: left;
    width: 100%;
}

.column4 h2 {
    color: red;
    text-align: center;
    font-size: 4vw;
    font-family: 'Permanent Marker', cursive;
}


/*Barras*/

progress[value] {
    /* Elimino la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Quito el borde que aparece en Firefox */
    border: none;
    /* Añado mis propios estilos */
    width: 20vw;
    height: 2vw;
    overflow: hidden;
    /*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
    border: 1px inset black;
    background-color: white;
    border-radius: 20px;
    transition: all 0.4s linear;
}

progress::-webkit-progress-value {
    background: red;
    border-radius: 20px;
    transition: all 0.4s linear;
}

.progress span {
    font-size: 2vw;
}

@media screen and (max-width: 750px) {
    .header {
        position: relative;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        padding-left: 10px;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
        font-size: 3vw;
    }
    .navigation ul li a:hover {
        background: red;
        color: white;
    }
    .logo {
        font-size: 6vw;
    }
    #portada {
        background-image: url("../img/mascotas-perros-gatos-conejos.jpg");
        padding: 20vw;
        background-attachment: scroll;
    }
    #portada h1 {
        font-size: 10vw;
    }
    .column1 {
        width: 100%;
        float: left;
    }
    .column1 h1 {
        font-size: 8vw;
        text-align: center;
    }
    #portada img {
        border-radius: 40%;
        padding: 0;
        width: 60vw;
        float: left;
    }
    .column2 {
        width: 100%;
        float: left;
    }
    .column2 h2 {
        font-size: 8vw;
    }
    .column2 i {
        font-size: 15vw;
    }
    .column2 h3 {
        font-size: 4vw;
        color: white;
    }
    .column2 iframe {
        width: 100%;
        height: 55vw;
    }
    .column2 img {
        width: 100%;
    }
    .column4 h2 {
        color: red;
        text-align: center;
        font-size: 8vw;
    }
    progress[value] {
        /* Elimino la apariencia por defecto */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Quito el borde que aparece en Firefox */
        border: none;
        /* Añado mis propios estilos */
        width: 75vw;
        height: 7vw;
        overflow: hidden;
        /*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
        border: 1px inset black;
        background-color: white;
        border-radius: 20px;
        transition: all 0.4s linear;
    }
    #portada i {
        width: 10vw;
        font-size: 25vw;
    }
    .progress span {
        font-size: 3.5vw;
    }
}